<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.accountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.transferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageClientServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.manageClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setAccountServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.setAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutSerlvet</servlet-name>
        <servlet-class>bancoBanquitoPackage.logoutSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalnfoServlet</servlet-name>
        <servlet-class>bancoBanquitoPackage.personalInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
        bancoBanquitoPackage.Config
    </listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/accountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferServlet</servlet-name>
        <url-pattern>/transferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageClientServlet</servlet-name>
        <url-pattern>/manageClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setAccountServlet</servlet-name>
        <url-pattern>/setAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutSerlvet</servlet-name>
        <url-pattern>/logoutSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalnfoServlet</servlet-name>
        <url-pattern>/personalnfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
