body {
    padding: 60px;
    font-family: "sanserif";
}

#loginlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px; 
    height: 180px;
}

#loginBox {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
}

#loginBox .btn {
    width: 50%;
}

#registerBox {
    width: 60%;
}

#logo {
    width: 80px;
    height: 60px;
}

.input_error {
    color: red;
}

#mainMenu {
    border-radius: 25px;
    display: block;
    padding: 20px;
    width: 20%;
    height: 100%;
    color: white;
    float: left;
    margin-right: 10px;
    border: 3px solid black;
    overflow: auto;
    background-color: darkblue;
}

#mainMenu a {
    color: white;
}

#menuActions {
    border-radius: 25px;
    border: 3px solid black;
    padding: 30px;
    float: left;
    min-height: 100%;
    height: 100%;
    overflow: auto;
    width: 75%;
}

.transferForm {
    border-radius: 25px;
    border: 2px solid black;
    padding: 30px;
    margin-bottom: 15px;
}