body {
    padding-top: 60px;
    font-family: "sanserif";
}

#loginlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px; 
    height: 180px;
}

#loginBox {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
}

#loginBox .btn {
    width: 50%;
}

#registerBox {
    width: 60%;
}

#logo {
    width: 80px;
    height: 60px;
}